body {
  background-color: hsl(185, 75%, 39%);
  height: 100vh;
  background: url("../img/bg-pattern-top.svg") top -300px left -300px no-repeat,
    url("../img/bg-pattern-bottom.svg") bottom -300px right -300px no-repeat,
    hsl(185, 75%, 39%);
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 18px;
  font-weight: 700;
  color: hsl(229, 23%, 23%);
  margin: 0;
}

small {
  font-size: 12px;
  color: hsl(227, 10%, 46%);
}

p {
  color: hsl(0, 0%, 59%);
}

hr {
  color: hsl(0, 0%, 59%);
}

.container {
  text-align: center;
}

.table {
  width: 350px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.table-top {
  background-image: url("../img/bg-pattern-card.svg");
  background-repeat: round;
  flex: 1 0 125px;
}
#age {
  color: hsl(227, 10%, 46%);
  font-weight: 400;
}

.table-mid {
  background-color: white;
  flex: 1 0 150px;
}
.table-mid-img {
  height: 4em;
}

.table-mid-img img {
  border-radius: 50%;
  transform: translate(0px, -50%);
  border: 7px solid white;
}

.table-bottom {
  border-radius: 0 0 15px 15px;
  background-color: white;
  flex: 1 0 100px;
  border-top: 1px;
  border-color: red;
}

.table-bottom-info {
  display: flex;
  padding-bottom: 1em;
  margin-top: 25px;
}

.followers,
.likes,
.photos {
  margin: 0 auto;
}
