body {
  background-color: hsl(185, 75%, 39%);
  height: 100vh;
  background-image: url("../img/bg-pattern-top.svg"),
    url("../img/bg-pattern-bottom.svg");
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 18px;
  font-weight: 700;
  color: hsl(229, 23%, 23%);
  margin: 0;
  padding: 0.3em 0 0 1em;
}

small {
  font-size: 12px;
  color: hsl(227, 10%, 46%);
}

p {
  color: hsl(0, 0%, 59%);
}

hr {
  color: hsl(0, 0%, 59%);
}

.container {
  display: flex;
  text-align: center;
}

.table {
  width: 450px;
  background-color: white;
  border-radius: 20px;
}

.table-top {
  background-image: url("../img/bg-pattern-card.svg");
  background-repeat: round;
  height: 100px;
  width: 100%;
}
#age {
  color: hsl(227, 10%, 46%);
  font-weight: 400;
}

.table-mid-img img {
  border-radius: 50%;
  transform: translate(0px, -50%);
  border: 7px solid white;
}

.table-bottom {
  border-radius: 0 0 15px 15px;
}

.table-bottom-info {
  display: flex;
  padding-bottom: 1em;
}

.followers,
.likes,
.photos {
  margin: 0 auto;
}
